@import "../../scss/variables.scss";

.inputRoot {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.inputContainer {
  border: 2px solid $secondary-border-color;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px 22px;
  background-color: $main-bg-color;
  display: flex;
  flex-direction: column;

  textarea {
    resize: none
  }
}


.input {
  border: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  font: 400 18px $font-family;
  color: $primary-color;
  z-index: 1;
  transition: $standard-transition;
  position: relative;
  top: -8px;
}

.inputPushed {
  top: 0;
}


.label {
  font: 700 14px/16px $font-family;
  text-transform: uppercase;
  color: $text-color-light;
  position: relative;
  transition: $standard-transition;
  z-index: 0;
  top: 12px;
}

.labelPushed {
  top: 0
}

.error {
  height: 0px;
  overflow: hidden;
  padding-left: 24px;
  display: flex;
  align-items: flex-end;
  transition: $standard-transition;
  color: $error-color;
  font: 700 14px/20px $font-family;
  
  &.showError {
    height: 28px
  }
}