
.carousel .control-dots .dot {
  opacity: 1;
  box-shadow: none;
  border: 1px solid #594c55;
  outline: none !important;
  transition: all 0.1s ease-in-out;
  background-color: white;
}


.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
  border: 1px solid #a8114f;
  background-color: #a8114f;
}

.dot:hover {
  opacity: 0.8
}