@import "../../scss/variables.scss";

.heroContainer {
  $carousel-max-width: 1600px;
  .carousel {
    position: relative;
    // max-height: 498px;
    max-width: $carousel-max-width;
    margin: 0 auto;
    display: flex;

    .carouselOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      z-index: 1;
      background: rgba(0, 0, 0, 0.35);
      display: none;

      
      @include lg {
        &::before, &::after {
          content: '';
          position: absolute;
          height: 100%;
          width: 30vw;
          top: 0;
          background-color: $secondary-border-color;
        }
      
        &::before {
          left: -30vw;
        }
        &::after {
          right: -30vw;
        }
      }

      h1 {
        color: $main-bg-color;
        left: 16%;
        max-width: 300px;
        position: relative;
        margin-top: auto;

        @include lg {
          display: flex;
          max-width: 440px;

        }

      }
      @include md {
        display: flex;
      }

    }
    .carouselImgContainer {
      position: relative;
      border-right: 4px solid $main-bg-color;
      border-left: 4px solid $main-bg-color;

      @include md {
        border-right-width: 1px;
        border-left-width: 1px;
      }
    }
  }

  .heroClaim {
    padding: 20px;

    @include md {
      margin: 0 auto;
      width: 69%;
      max-width: #{0.7 * $carousel-max-width};
    }

    h2 {
      @include md {
        display: none;
      }
    }
  }

  .socialMedia {
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin: 50px auto 40px;
  
    @include lg {
      position: fixed;
      right: 40px;
      bottom: 0px;
      flex-direction: column;
      width: auto;
      height: 170px;
      z-index: 8;
    }
  }
}

.iconListContainer {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  row-gap: 52px;
  padding: 20px;
  
  @include lg {
    column-gap: 22px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.stepperContainer {
  padding: 0 20px;
  width: 100%;
  max-width: 550px;
  margin: 0 auto 60px;
  padding-top: 90px;
  position: relative;
  z-index: 2;

  .innerWavesContainer {
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    top: 200px;
    left: -20px;
    z-index: -1;

    @include md {
      top: 0;
      width: 220vw;
      left: -35vw
    }

    @include xxl {
      width: 220vw;
      left: -40vw
    }
    
    .innerWaves {
      position: absolute;
      top: 40px;
      width: 140vw;
      left: -40vw;
      z-index: -1;
      min-width: 800px;
        
      @include md {
        left: 0
      }

      @include lg {
        width: 110vw;
        height: 80vw;
        top: 80px;
      }
      @include xl {
        height: 50vw;
      }
      @include xxl {
        height: 40vw;
      }
    }
  }

  @include lg {
    padding-top: 172px;
  }

  & > div:nth-child(2) > div {
    margin: 0 auto;
    margin-bottom: 42px;
  }

  .stepOne {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 12px;

    @include lg {
      grid-template-columns: 1fr 1fr;

      & > *:nth-child(5),
      & > *:nth-child(6) {
        grid-column: 1 / 3;
      }
    }
  }

  .stepTwo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    gap: 12px;

    h3 {
      font: 700 20px/18px $font-family;
      color: $secondary-color;
      grid-column: 1 / 9;
    }

    & > * {
      min-width: 0;
      &:nth-child(2) {
        grid-column: 1 / 5;
      }
      &:nth-child(3) {
        grid-column: 5 / 7;
      }
      &:nth-child(4) {
        grid-column: 7 / 9;
      }

      &:nth-child(6) {
        grid-column: 1 / 9;
        display: flex;
        flex-direction: column;
      }

      &:nth-child(n+8) {
        grid-column: 1 / 9;
      }

      @include md {
        &:nth-child(8) {
          grid-column: 1 / 9;
        }
  
        &:nth-child(9) {
          grid-column: 1 / 5;
        }
  
        &:nth-child(10) {
          grid-column: 5 / 9;
        }
  
        &:nth-child(11) {
          grid-column: 1 / 5;
        }
  
        &:nth-child(12) {
          grid-column: 5 / 9;
        }
      }

    }
  }
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  max-width: $max-inner-width;
  margin: 0 auto;
  // max-width: 400px;
  // margin: 0 auto;

  // @include md {
  //   max-width: unset;
  // }

  h2, p, .trainingTypes {
    padding: 0 20px;
  }

  h2 {
    font-size: 36px;

    @include lg {
      font-size: 44px;
    }
  }

  p {
    max-width: 82%;
    font-size: 20px;
    font-weight: 700;

    @include lg {
      max-width: 100%;
    }
  }

  .skillsGrid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 52px;

    @include lg {
      grid-template-columns: 1fr 750px 1fr ;
    }

    .trainingTypes {
      max-width: 190px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;

      @include lg {
        flex-direction: column;
        justify-content: start;
        // padding: 0;
      }

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60px;
        margin-bottom: 36px;

        & > span:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          margin-bottom: 6px;
          font-size: 40px;
          color: $main-bg-color;
          background-color: $secondary-color;
          border-radius: 50%;
        }

        & > span:nth-child(2) {
          font: 400 17px/17px $font-family;
          color: $text-color;
          text-align: center;
        }
      }
    }

    .sports {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;

      @include lg {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px
      }
    }
  }

  button {
    margin: 60px auto 40px;
  }
}

.contactContainer {
  display: flex;
  justify-content: center;
  padding: 90px 0;
  position: relative;
  background-color: $secondary-border-color;

  @include lg {
    &::before, &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 30vw;
      top: 0;
      background-color: $secondary-border-color;
    }
  
    &::before {
      left: -30vw;
    }
    &::after {
      right: -30vw;
    }
  }


  .formContainer {
    max-width: 550px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 44px;
      color: $secondary-color;
      margin-bottom: 44px;

      @include lg {
        font-size: 40px;
      }
    }

    form {
      & > *:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    button {
      margin: 30px 0 0 auto
    }
  }
}