@import "../../scss/variables.scss";

.mobileDrawer {
  position: fixed;
  width: 100vw;
  height: calc(100vh - #{$header-height});
  top: $header-height;
  left: 0;
  background: $main-bg-color;
  overflow: hidden;
  opacity: 0;
  display: flex;
  transition: display .2s linear, opacity .1s ease-in-out;
  z-index: 999;
}

.open {
  opacity: 1;
}

.waves {
  width: 100vw;
  height: 500px;
  position: absolute;
  bottom: -200px;
  background: url('/public/img/waves-small-2x.png') bottom/cover no-repeat;
  z-index: -1;
}

.content {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 72px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  font: 700 22px/1 $font-family;
  width: 100%;
  color: $text-color;
  padding: 14px 0;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  transition: $standard-transition;

  &:hover {
    color: $secondary-color
  }
}

.freeDownload {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.2;
  font-family: $font-family;
  color: $text-color;
  margin-top: 100px;
}

.appStore {
  width: 132px;
  margin-top: 28px;
}

.socialMedia {
  display: flex;
  width: 220px;
  justify-content: space-between;
  margin-top: 44px;
}