@import "../../scss/variables.scss";

.button {
  height: 46px;
  padding: 0 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: $primary-color;
  color: $main-bg-color;
  outline: none !important;
  transition: $standard-transition;
  border: 1px solid $primary-color;
  font: 18px $font-family;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0;

  &:hover, &:focus {
    background: $text-color;
    border-color: $text-color;
    color: $main-bg-color
  }

  @include lg {
    font-size: 14px;
    height: 40px;
  }
}

.outline {
  background-color: $main-bg-color;
  color: $primary-color;
  border-color: $secondary-border-color;
}

.text {
  border-color: transparent;
  background-color: transparent;
  color: $primary-color
}

.inverted {
  background: $text-color;
  border-color: $text-color;
  color: $main-bg-color;

  &:hover, &:focus {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $main-bg-color;
  }
}