@import "../../scss/variables.scss";

.iconList {
  display: grid;
  grid-template-columns: 32px 1fr;
  width: 100%;
  max-width: 358px;
  height: fit-content;

  .icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
    color: $text-color;
  }

  h2 {
    font-size: 30px;
    color: $secondary-color;
    margin: 0;
  }

  .line {
    width: 100%;
    background: $secondary-border-color;
    height: 2px;
    margin: 20px 0;
  }

  h2, .listItem {
    margin-left: 20px;
  }

  .check {
    color: $secondary-color;
    font-size: 12px;
    margin-left: auto;
    margin-top: 8px;
  }

  .listItem {
    color: $text-color;
    font: 700 20px/22px $font-family;
    margin-bottom: 2px;
  }
}