@import "../../scss/variables.scss";

.progressionListItem {
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: 20px;

  @include lg {
    column-gap: 38px;
  }

  .checkmarkContainer {
    display: flex;
    flex-direction: column;
    .checkmark {
      border-radius: 50%;
      background-color: $secondary-color;
      font-size: 18px;
      color: $main-bg-color;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }
  }

  .line {
    margin: 0 auto;
    display: flex;
    height: 100%;
    width: 2px;
    background-color: $secondary-color;
    margin: 0 auto;
  }

  .content {
    padding-bottom: 60px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
  }
}