@import "../../scss/variables.scss";


.policiesContainer {
  padding: 55px 20px 30px;
  max-width: $max-inner-width;
  width: 100%;
  margin: 0 auto;

  h1 {
     font-size: 44px;
     color: $primary-color;
     margin-bottom: 24px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 32px;
  }

  p, li {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 58px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0
  }

}


.contactContainer {
  display: flex;
  justify-content: center;
  padding: 90px 0;
  position: relative;
  
  .innerWavesContainer {
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow: hidden;

    @include xl {
      width: 220vw;
      left: -20vw
    }

    @include xxl {
      width: 220vw;
      left: -30vw
    }
    
    .innerWaves {
      position: absolute;
      top: 40px;
      width: 140vw;
      left: -40vw;
      z-index: 0;
      min-width: 800px;
        
      @include md {
        left: 0
      }

      @include lg {
        width: 13vw;
        height: 50vw;
        top: 80px;
      }
    }
  }

  .formContainer {
    max-width: 550px;
    padding: 0 24px;
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 44px;
      color: $secondary-color;
      margin-bottom: 44px;

      @include lg {
        font-size: 40px;
      }
    }

    form {
      & > *:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    button {
      margin: 30px 0 0 auto
    }
  }
}
