@import "../../scss/variables.scss";

.header {
  height: $header-height;
  width: 100%;
  background: $main-bg-color;
  display: grid;
  grid-template-columns: 1fr 0 0 2fr;
  align-content: center;
  padding: 0 24px;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.05);


  @include lg {
    grid-template-columns: 4fr 218px 5fr 0;
    padding: 0 52px;
  }

  & > * {
    display: flex;
    align-self: center;
    overflow: hidden;
  }
}

.logo {
  font-size: 24px;
  color: $primary-color;
  cursor: pointer
}

.downloads {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-color;
  position: relative;
}

.freeDownload {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: -0.2;
  font-family: $font-family;
}

.appStore {
  font-size: 28px;
  transition: $standard-transition;
  cursor: pointer;

  &:hover {
    color: $secondary-color
  }
}

.desktopButtonContainer {
  display: flex;
  justify-content: flex-end;
  
  & > *:not(:last-child) {
    margin-right: 12px;
  }
}

.mobileButtonContainer {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.mobileButtonWrapper {
  position: relative;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileButton {
  font-size: 20px;
  transition: $standard-transition;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.menuButton {
  color: $primary-color;

  &:hover {
    color: $text-color
  }
}
.closeButton {
  color: $text-color;
  
  &:hover {
    color: $primary-color;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0
}