@import "../../scss/variables.scss";

.highlightCard {
  width: 100%;
  height: 140px;
  position: relative;

  .infoContainer {
    width: 100%;
    height: 125px;
    overflow: hidden;
    padding: 12px 20px;
    position: relative;
    display: flex;
    text-align: left;
    align-items: flex-end;

    .waves {
      position: absolute;
      width: 110%;
      height: 110%;
      top: 0;
      left: -10%;
      z-index: 0;
    }

    .name {
      z-index: 1;
      font: 700 35px/30px $font-family;
      color: $secondary-color;
      max-width: 199px;
      white-space: break-spaces;
    }
  }

  .image {
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}