@import "../../scss/variables.scss";

.circleButton {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: $secondary-color;
  transition: $standard-transition;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none !important;
  border: 0;

  &:hover {
    background-color: $text-color
  }
}

.icon {
  color: $main-bg-color;
  font-size: 16px;
}