@import "../../scss/variables.scss";

.buttonGroup {
  display: grid;
  height: 44px;
  width: fit-content;

  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    padding: 0 14px;
    font: 700 14px/12px $font-family;
    border: 1px solid $secondary-border-color;
    cursor: pointer;
    background: $main-bg-color;
    transition: $standard-transition;
    text-transform: uppercase;

    &.selectedOption {
      border-color: $primary-color;
      cursor: default;
      background: $primary-color;
      color: $main-bg-color
    }

    &:first-child { border-radius: 6px 0 0 6px }
    &:last-child { border-radius: 0 6px 6px 0 }
  }
}