$main-bg-color: #fff;
$primary-color: #a8114f;
$secondary-color: #54c7d1;
$text-color: #594c55;
$text-color-light: #8f888d;
$border-color: #e9e6e6;
$secondary-border-color: #F7F5F5;
$error-color: #f25151;

$standard-transition: all 0.1s ease-in-out;
$font-family: 'Effra';

$header-height: 66px;
$bottom-bar-height: 72px;

$max-inner-width: 1200px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1720px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
      @content;
  }
}
