@import "../../scss/variables.scss";

.bottomBar {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  height: $bottom-bar-height;
  width: 100vw;
  padding: 0 calc((100vw - 230px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparentize($color: $main-bg-color, $amount: 0.2);
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 99;
}